# Ignorar tudo dentro da pasta de saída
saida/
/saida/*.docx
/saida/*.pdf


# Ignorar arquivos temporários do sistema
*.log
*.tmp
*.swp

# Ignorar cache do Python
__pycache__/
*.pyc
*.pyo

# Ignorar configurações locais
.env
.vscode/
.idea/